anyio==4.11.0
asgiref==3.10.0
certifi==2025.10.5
dj-database-url==3.0.1
Django==5.2.7
django-cors-headers==4.9.0
django-elasticsearch-dsl==8.0
django-pwa==2.0.1
django-tagify==0.20
djangorestframework==3.16.1
elastic-transport==8.17.1
elasticsearch==8.11.0
elasticsearch-dsl==8.11.0
Faker==37.11.0
gunicorn==23.0.0
idna==3.11
packaging==25.0
pillow==12.0.0
polib==1.2.0
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.11.0
